@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FontLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top,  rgba(19, 62, 65, 0.30) ,white);
    color: rgba(0, 0, 0, 1);
}

audio#frank {
    left: 294px;
    top: 10px;
    position: relative;
    margin: auto;
    box-shadow: 3px 3px 2px 0px #606060;
    border-radius: 10px;
}
audio:hover{

    transform: scale(1.05);
}

div#interface {
    max-width: 900px;
    background-image: linear-gradient(to bottom,  rgba(19, 62, 65, 0.30) ,white);
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px #606060;
    padding: 10px;
    border-radius: 10px;
    
}


h2 {
    color: #606060;
    font-family: 'FontLogo' sans-serif;
    text-align: center;
}

h3{
    color: #606060;
    text-align: center;
    font-family: 'FontLogo' sans-serif;
}

h4{
    color: #606060;
    text-align: center;
    font-family: 'FontLogo' sans-serif;
}


p{
    
    text-align: center;
    text-indent: 50px;
}



pre#poema{
    position: relative;
    left: 160px;
    bottom: 10px;
}

a{
    color: #606060;
    text-decoration: none;

}
a#website {
    color: white;
}

a:hover{
    text-decoration: underline;
}

a#menu2:hover{
    text-transform: uppercase;
}

/* header#cabecalho img#icone {
    position: absolute;
    left: 410px;
    top: -4px;
    
}                                       Não Resultou !*/

header#cabecalho h1{
    text-align: center;
    font-family: 'FontLogo' sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

nav#menu {
    display: block;
   
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    left: 110px;
    bottom: 49px;

}

nav#menu li {
    font-size: 10pt;
    display: inline-block;
    background-color:rgba(19, 62, 65, 0.11);
    padding: 1px;
    margin: 1px;
}

nav#menu li:hover{
    background-color: rgba(19, 62, 65, 0.24);
}

nav#menu2 ul{
    text-align: justify;
    list-style: none;
}

table#tablespec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 3px ;
}

table#tablespec td {
    background-color: #8f8f8f;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tablespec td.ce{
    color: #f8f8f8;
    font-weight: bold;
}

table#tablespec caption {
    color: #888888;
    font-size: 12pt;
    font-weight: bolder;
}

figure.foto-principal {
    position:relative;
    left: 260px;
    top: -5px;
}

figure.foto-legenda {
    position: relative;
    left: 150px;
    top: 20px;
    
}

figure#foto-empireSt figcaption{
    text-align: center;
}

svg#wordcld{
    position: relative;
    left: 290px;
}

iframe#youtube {
    position: relative;
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.5);
    left: 165px;
}

iframe#multimedia {
    position: relative;
    left: 45px;
    box-shadow: 10px 10px 10 #606060;
}

iframe#svgfotos {
    position: relative;
    left: 53px;
    box-shadow:2px 2px 10px #606060;
    border-radius: 5px;
}









