@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FontLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}


* {
    font-family: 'FontLogo';
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    
    
  }

  body{
      text-align: justify;
      
  }

  main{
      
    animation-name: backgroundColor;
    animation: backgroundColor 5s;
    animation-iteration-count: infinite; 
    backface-visibility: hidden;
    animation-timing-function: ease-in;
    background: radial-gradient(circle, rgba(255, 237, 180, 1) 0%, transparent 100%);
    
    }
    @keyframes backgroundColor {
        0% {
            background-color:#f5f5dccc;
        }
    
        50% {
            background-color: rgba(137, 175, 135, 0.911);
        } 
       
    
        
        
        100% {
            background-color: #f5f5dccc;
        }
  }
  /*                            AUDIO GTA                       */
  audio#gta {
      position: relative;
      left: 38%;
      top: 30px;
      box-shadow: 3px 3px 2px 0px #606060;
      transition: .5s;
  }

  audio#gta:hover{
      transform: scale(1.5);
  }

  h1{
      font-family: 'FontLogo' sans-serif;
      text-align: center;
      font-size: 20px;
      
  }
  h1.titulo-produtos{
      
      color: rgba(55.3, 78.4, 51.8);;
      text-transform: uppercase;
      padding: 30px;
      box-shadow: 0 2px 15px 2px rgba(92, 87, 87, 0.555);
  }
  
  

  * img{
      max-width: 100%;
  }

  figcaption{
      text-align: center;
  }
  /*                                         MENU                               */
    
  #menu {
      position:sticky;
  }
  #menu ul{
        list-style-type: none;
        margin: -8px;
        padding: 10px;
        overflow: hidden;
        background-color: #f5f5dc;
        box-shadow: 0 2px 15px 2px rgba(92, 87, 87, 0.555);
        float: none;
        text-align: center;
    }

    #menu li{
        padding: 0px 30px 0px;
        display: inline-block;
      
    }

    @media screen and (max-width: 600px) {
       table{
           display: block;
       }
       section.produtos p {
           display: none;
       }
        nav#menu li {
            float: none;
            display: block;

        }
        main{
            float: none;
            display: block;
        }
    }

    #menu li a{
        display: inline-block;
        color: rgba(55.3, 78.4, 51.8);
        background-color: rgb(137, 175, 135);
        text-align: center;
        padding: 0.875em 1em;
        text-decoration: none;
        transition: color 1s ;
        border-radius: 50px;
    }

    #menu li a:hover{
        background-color:rgb(55, 78, 52);
        color: rgb(137, 175, 135);
    }

    #menu li .nameMenu{
    visibility: hidden;
    width: 100px;
    background-color: rgb(137, 175, 135);
    color: (55.3, 78.4, 51.8);
    text-align: center;
    padding: 7px;
    border-radius: 7px;
    text-transform: uppercase;

    position: absolute;
    z-index: 1;
    
    margin-left: -20px;
    margin-top: 60px;
    }

    #menu li:hover .nameMenu {
        visibility: visible;
    }
    
                                        /* Página Principal */
    
    .row{
        display: flex;
        flex-direction: row;
        justify-items: center;
        
    }

    /*          Cookies         */
    .cookies{
        transition: 2s;
    }

    .cookies:hover{
        transform: scale(1.4);
    }

    /*         CupCakes         */

    .cupcake {
        float: left;
        margin: 20px;
        animation: cupcake ease-in-out 0.5s infinite alternate;
        transform-origin: center -20px;
    }
    
    .cupcake:hover {
        animation-play-state: paused;
    }
    
    .cupcake:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1.5px solid #ffffff;
        top: -10px;
        left: 50%;
        z-index: 0;
        border-bottom: none;
        border-right: none;
        transform: rotate(45deg);
    }
    
    .cupcake:before {
        content: '';
        position: absolute;
        top: -23px;
        left: 50%;
        display: block;
        height: 44px;
        width: 47px;
        background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1611244244346/Y0nrI4kKp.png?auto=compress&w=500);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        z-index: 16;
    }
    
    @keyframes cupcake {
        0% {
            transform: rotate(3deg);
        }
        100% {
            transform: rotate(-3deg);
        }
    }

    /*                                        Tartelettes */

    .tartelettes {
        transition: 1s ease-out;
    }
    
    .tartelettes:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

                                        /* Chef */
    section.foto-chef{
        float: left;
        width: 50%;
        padding: 10px;
    }

    section.texto-chef{
        float: left;
        width: 40%;
        padding: 10px;
        position: sticky;
        top: 0;
    }


    section.intro-chef::after{
        content: "";
        display: table;
        clear: both;
    }

                                            /* Historia*/
    section.foto-historia{
        float: left;
        width: 30%;
        padding: 10px;
    }

    section.texto-historia{
        float: left;
        width: 50%;
        padding: 10px;
        position: sticky;
        top: 0;
    }

   

    section.intro-historia::after{
        content: "";
        display: table;
        clear: both;
    }

    
    /*                                             STUFF            */
    
    
    figure.stuff{
        position: relative;

    }
    figure.stuff figcaption{
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0;        
        text-align: center;
        background-color: rgba(0, 0, 0, 0.534);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 1s;
    }
    figure.stuff figcaption h1{
        text-transform: uppercase;
    }

    figure.stuff:hover figcaption{
        opacity: 1;
    }
    
    
    /*                                      Contactos                */

    section.contacto {
        float: left;
        width: 50%;
        padding: 50px;
        text-align: center;
    }

    section.horario {
        float: left;
        width: 50%;
        padding: 50px;
        text-align: center;
    }

    section.contactos::after{
        content: "";
        display: table;
        clear: both;
    }

    .foto-menu{
        position: sticky;
       
    }
    
    figure.foto-legenda img{
        width: 30%;
    }

    figure.foto-legenda{
        position: relative;
        box-shadow: 0 2px 15px 2px rgba(92, 87, 87, 0.555);
    }

    figure.foto-legenda figcaption{
      opacity: 0;
      position: absolute;
      top: 0px;
      background-color: rgba(0, 0, 0, 0.521);
      color: white;
      width: 37.6%;
      height: 99.3%;
      padding: 20px;
      transition: opacity 1s;
    }

    figure.foto-legenda:hover figcaption{
        opacity: 1;
    }
    

    /*                                                      WEBSITE PAG         */
    
    a.formul{
        color: #2cad0b;
        text-decoration: none;
    
    }

    a.formul:hover{
        text-decoration: underline;
        text-transform: uppercase;
    }

    a.formul:active{
        text-decoration:overline;
    }

    a.formul:visited{
        color: rgba(5, 150, 150, 0.123);
    }


    fieldset{
        padding-left: 40px;
        margin: 1rem 0;
        box-shadow: 2px 2px 3px #606060;
        position: relative;
        border-radius: 10px;
    }

    fieldset#identificacao::before{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 0;
        bottom: 0;
        left: 0;
        border-width: 20px;
        border-color: rgb(2, 89, 95);
        border-style: solid;
        border-bottom-color: transparent;
        border-top-color: transparent ;
        border-right-color: transparent;
        


    }

    fieldset#quizz{
        text-align: center;
        
    }
    fieldset#identificacao legend {
        color: rgb(19, 62, 65);
    }


    fieldset#quizz legend {
        margin-left: -23rem;
        color: rgb(19, 62, 65);
    }


    h6#msg{
        text-align: center;
        font-size: 9pt;
    }

    button[type = "submit"]{
        
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 22pt;
        border-radius: 10px;
        box-shadow: 2px 2px 3px #606060;
        font-family: 'FontLogo', sans-serif;
        color: #15657e;
        cursor: pointer;
        
        
    }
    button[type="submit"]:hover{
        background-color: #15657e42;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #15657e42;
        text-decoration-color: white;
        transition: 1s;
    }
    button[type="submit"]:active{
        text-decoration: underline;
    }

    button[type = "reset"]{
        
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 22pt;
        border-radius: 10px;
        box-shadow: 2px 2px 3px #606060;
        font-family: 'FontLogo', sans-serif;
        color: #15657e;
        cursor: pointer;
       
    }
    button[type="reset"]:hover{
        background-color: #b8000052;
        text-transform: uppercase;
        
        text-shadow:1px 1px 1px #b8000052;
       
        transition: 1s;
    } 

    button[type="reset"]:active{
        text-decoration: underline;
    }

    table {
        text-align: center;               
        width: 100%;
        border-collapse:collapse ;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #606060;
    }

    th,td{
        padding: 10px 100px;
    }

    th{
        background:#026f8341 ;
        
    }

    
    tr:nth-child(odd){
        background-color: rgba(77, 77, 77, 0.123);
    }

    tr:nth-child(even) {
    background-color: #e2e2e227;
    }





                                                                /*FOOTER*/
    footer  {
        box-shadow: 0 2px 15px 2px rgba(92, 87, 87, 0.555);
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f5f5dc;
        height: auto;
        padding-top: 40px;
        color: rgba(55.3, 78.4, 51.8);
      
        /*border: 1px solid black; */
       
    }
    
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    
    
    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    
    .socials li {
        margin: 0 10px;
    }
    
    .socials a{
        text-decoration: none;
        color: rgba(55.3, 78.4, 51.8);;
       
    }
    
    .socials a i {
        font-size: 2rem;
        transition: color .4s ease;
    }
    
    .socials a:hover i{
        color: rgb(137, 175, 135);
    }
    
    .footer-bottom {
        padding: .5px;
        text-align: center;
    }
    
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        
        text-transform: capitalize;
    }
    
    .footer-bottom span{
        font-weight: 700;
        text-transform: uppercase;
        opacity: .7;
        
    }