@charset "UTF-8";


*{
    font-family: ;
    font-family: sans-serif;
    box-sizing: border-box;
}


body{
    
}
*img{
    max-width: 100%;
}

header {
    grid-area: header;
  }
  nav {
    grid-area: menu;
  }
  main {
    grid-area: main;
  }
  .asi {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }

  /*SMARTPHONE*/

  #menu{
      position: fixed;
      text-transform: uppercase;
  }
  
#menu ul {
   text-align: center;
    padding: 0px;
    list-style: none;
    
}

#menu li {
   
    text-align: center;
    font-weight: 600;
    border-radius: 3px;
}
#menu ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: #f5f5dc;
    opacity: .8;
    line-height: 40px;
    font-size: 20px;
}

#menu ul li a { 
    text-decoration: none;
    color: rgba(55.3, 78.4, 51.8);
    display: block;
}

#menu ul li a:hover{
    background-color: rgb(137, 175, 135);
    
}

#menu ul li ul li{
    display: none;
}

#menu ul li:hover ul li{
    display: block;
}
/*
#menu {
  
    display: block;    
    font-size: 14px;
    width: 100%;
    top: -12px;
   
}
*//*
#menu ul{
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    /*background: linear-gradient(to left,  #01250188,  #012501c0);*/
  /*  background-color: #f5f5dc;
    border-radius: 10px;
   /* border: 1px solid black; Contorno a preto*/

/*
#menu li{
    display: inline-block;
    font-size: 10pt;
    
    margin: 40px;
    font-weight: 800;
}


#menu a {
    text-decoration: none;
    color: rgba(55.3, 78.4, 51.8);
}

#menu a:hover{
    color: rgb(137, 175, 135);
}

ul li {
    opacity: . ;
}
*/
.foto-menu{
    position: absolute;
    top: 0px;
    left: 180px;
}


footer  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5f5dc;
    height: auto;
    padding-top: 40px;
    color: rgba(55.3, 78.4, 51.8);
    border-radius: 10px;
    /*border: 1px solid black; */
   
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}


.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: rgba(55.3, 78.4, 51.8);;
   
}

.socials a i {
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(137, 175, 135);
}

.footer-bottom {
    padding: .5px;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    
    text-transform: capitalize;
}

.footer-bottom span{
    font-weight: 700;
    text-transform: uppercase;
    opacity: .7;
    
}